body{
	   background:#f4f4f4;
}
.b-block{
	padding: 20px;
	color: #f4f4f4;
    border-radius: 2px;
    margin:40px 0 40px 0;
    background-image:  linear-gradient(to right bottom, rgba(101, 150, 147, 0.79), rgba(75, 99, 105, 0.8)), url(broker.png);
    background-attachment: fixed; 
    background-size: cover; 
    background-position: center;

}
.ls-btn{
	text-align: center;
}
form{
	text-align: center;
}
.active{
	background-color: #3d8f50 !important;
}
.ls-btn button{
	width: 100%;
    border: unset;
    padding: 5px;
    height: 37px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background:unset;
}
.ls-btn button:hover{
	text-shadow: 1px 2px 1px #333333;
}

#login , #signup {
	margin-top: 10px;
}
#signup{
	display: none;
}
.bloker{
	border-right: 2px solid #dd960d;
}
.input-area{
	position: relative;
}
.gly{
	position: absolute;
    left: 8px;
    top: 5px;
    color: #dd960d;
}
.header{
	text-align: center;
	/*padding-bottom: 40px;
	border-bottom: 2px solid white;*/
}
.footer{
	border-top: 2px solid #dd960d;
    padding: 10px 0;
}
.header span a{
	margin: 0 30px
}
.footer span a, .header span a{
	color: #333;
	font-weight: 500;
	margin-left: 20px;
}
.lt{
	float: right;
}
.btn-success{
	width: 25% !important;
}
.form-control{
	    padding: .375rem 1.8rem !important;
}
#login a{
	margin-right: 35px;
}







@media only screen and (max-width: 767px){
	.bloker{
		margin-bottom: 20px;
		border-right: unset;
		border-bottom: 2px solid #dd960d;
	}
}

@media (min-width: 1200px){
	.container {
		    max-width: 1250px !important;
	}
}